@tailwind base;
@tailwind components;
@tailwind utilities;

.songSearchBars {

    margin: 1rem;
    outline: 6px ridge rgb(75, 82, 121);
    border-radius: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.151);
}

.smallerSearch {

    margin: 1rem;
    outline: 4px ridge rgb(75, 82, 121);
    border-radius: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 6em;
    background-color: rgba(255, 255, 255, 0.151);
}


/*used an hr styling from https://css-tricks.com/examples/hrs/ to make it look nicer.*/

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


/* button from https://copy-paste-css.com/ */

button {
    margin: 1em;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
}

button:hover {
    transition: .2s;
    box-shadow: rgba(110, 109, 109, 0.889) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

#searchResults{
    display: block;
    overflow-y: scroll;
    height: 60vh;
    min-width: 75em;
}

#playlistResults{
    display: block;
    overflow-y: scroll;
    height: 60vh;
    min-width: 75em;
}

th{
    font-size: 2em;
    width: 20vw;
}

td{
    width: 20vw;
    height: 10vh;
}

tr:nth-child(2n){
    background-color: rgba(255, 255, 255, 0.007);
}

#searchResults>tr:hover {
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.031);
    box-shadow: rgba(110, 109, 109, 0.889) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

#playlistResults>tr:hover {
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.031);
    box-shadow: rgba(110, 109, 109, 0.889) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

select option {
    background-color: rgb(60, 66, 87);
}

.specialOption {
    background-color: rgb(216, 216, 216);
}

.popup{
    background-color: rgba(231, 57, 80, 0.829);
    padding: 20px;
    transition: 0.4s all;
    display: none;
}


/*SWITCH CSS TAKEN FROM : https://codepen.io/JiveDig/pen/jbdJXR*/
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e411;
	color: rgba(255, 255, 255, 0.616);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label{
	background-color: rgb(75, 82, 121);
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.playlistListStyle{
    background-color: #e4e4e40c;
    padding: 20px;
    margin-bottom: 5px;
}

.playlistListStyle:hover {
    cursor: pointer;
}

#listOfPlaylists{
    min-height: 60%;
    max-height: 30px;
    overflow-y: auto;
}

.addToPlaylist{
    position:relative;
    color: rgb(34, 34, 34);
    background-color: rgb(240, 240, 240);
    padding: 1em;
    transition: 1s;
}

.credits{
    position: fixed;
    color: rgb(34, 34, 34);
    background-color: rgb(240, 240, 240);
    width: 20vw;
    padding: 1em;
    left: 40vw;
    transition: 1s;
    display: none;
}

#mycanvas{
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    border-radius: 5px;
}

.mouseOverEvent:hover{
    cursor: pointer;
    text-decoration: underline solid #fff 2px;
    transition: 2s;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(67, 101, 163); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 101, 163, 0.2); 
  }