@tailwind base;
@tailwind components;
@tailwind utilities;

#songSearchBars {

    margin: 1rem;
    outline: 6px ridge rgb(75, 82, 121);
    border-radius: 2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.151);
}

#smallerSearch {

    margin: 1rem;
    outline: 4px ridge rgb(75, 82, 121);
    border-radius: 2rem;
    text-align: center;
    color: black;
    width: 6em;
    background-color: rgba(255, 255, 255, 0.151);
}


/*used an hr styling from https://css-tricks.com/examples/hrs/ to make it look nicer.*/

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}


/* button from https://copy-paste-css.com/ */

button {
    margin: 1em;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
}

button:hover {
    transition: .2s;
    box-shadow: rgba(110, 109, 109, 0.889) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

#searchResults{
    display: block;
    overflow-y: scroll;
    height: 60vh;
    min-width: 75em;
}

th{
    font-size: 2em;
    width: 20vw;
}

td{
    width: 20vw;
    height: 10vh;
}

tr:nth-child(2n){
    background-color: rgba(255, 255, 255, 0.007);
}

#searchResults>tr:hover {
    transition: .2s;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.031);
    box-shadow: rgba(110, 109, 109, 0.889) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}
